@model Enum
<div class="form-group form-md-line-input">
    <label class="control-label col-md-4">
        @Html.DisplayNameFor(model => model)
    @{
        if (ViewData.ModelMetadata.IsRequired)
        {
            <span class="required">*</span>
        }
    }
    </label>
    <div class='col-md-4'>
        @Html.TextBoxFor(model => model, new { @class = "form-control bold", placeholder = Html.DisplayNameFor(model => model), @readonly = true })
        <div class="form-control-focus"></div>
    </div>
</div>
