@model Int32
<div class="form-group form-md-line-input">
    <label class="control-label col-md-4">
        @if (ViewData["CustomDisplayName"] != null)
        {
            @Html.DisplayName((string)ViewData["CustomDisplayName"])
        }
        else
        {
            @Html.DisplayNameFor(model => model)
        }
        @{
            if (ViewData.ModelMetadata.IsRequired)
            {
                <span class="required">*</span>
            }
        }
    </label>
    <div class='col-md-4'>
        @Html.TextBox(ViewData.ModelMetadata.PropertyName, Model.ToString("#,#"), new { @id = ViewData.ModelMetadata.PropertyName, @class = "form-control bold number", placeholder = 0, @readonly = true })
        <div class="form-control-focus"></div>
    </div>
</div>
